@CHARSET "UTF-8";

#loading {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin: auto;
	text-align: center;
}

.disabled-row {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	-moz-opacity: .4;
	-khtml-opacity: .4;
	opacity: .4;
}

.fld-mdt {
	color: red;
}

.fld-readonly {
	color: gray;
}

.clr-lightsteelblue {
    color: lightsteelblue;
}

.x-grid-empty {
	text-align: center;
	padding-top: 10px;
}

.tabbar-white {
	background-color: white;
}

.errorMsgBox .x-form-textarea {
	font-family: monospace;
	white-space: pre;
	word-wrap: normal;
	overflow-x: scroll;
}

.promptMsgBox .x-form-textarea {
	font-family: monospace;
	white-space: pre;
	word-wrap: normal;
	overflow-x: scroll;
}

.x-tip-body-default {
	white-space: nowrap !important;
	min-width: 100px !important;
}

.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}

.sign-line-nm {
	background: url("../../images/icons/signature.png") no-repeat left
		center !important;
	font-weight: bold;
	padding: 0 0 0 22px;
	white-space: normal;
}

.sign-steps {
	margin: 7px 10px 2px 22px;
	white-space: normal;
}

.sign-line-item {
	position: relative;
}

.sign-step-gbn-draft { /* 결재선: 기안 */
	color: inherit;
}

.sign-step-gbn-approve { /* 결재선: 결재 */
	color: #7E532C;
}

.sign-step-gbn-collaborate { /* 결재선: 합의 */
	color: #006AD3;
}

.sign-step-gbn-receive { /* 결재선: 수신 */
	color: #009900;
}

.sign-step-gbn-read { /* 결재선: 열람 */
	color: inherit;
}

.sign-step-gbn-review { /* 결재선: 참조 */
	color: inherit;
}

.sign-step-gbn-share { /* 결재선: 공람 */
	color: inherit;
}

.sanction_categoryContainer {
	background-color: #e0e0e0;
	border-bottom: 1px solid #aaa !important;
	/*
     box-shadow: rgba(5, 5, 5, .4) 0px -8px  8px -5px inset;
    -moz-box-shadow: rgba(5, 5, 5, .4) 0px -8px  8px -5px inset;
    -webkit-box-shadow: rgba(5, 5, 5, .4) 0px -8px  8px -5px inset;
 */
}

.sanction_category_header {
	font-family: '서울한강체' !important;
	font-size: 17px !important;
	font-weight: bold !important;
	margin: 0 0 8px 0 !important;
	text-align: left !important;
}

.sanction_category {
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 8px 0 0;
	padding: 8px;
	width: 75px;
}

.sanction_category_active {
	background-color: #2278C0;
	color: #fff !important;
}

.sanction_category_active .sanction_category_cnt {
	color: #fff !important;
}

.sanction_category_cnt {
	color: #555;
	font-family: 'Lucida Grande';
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 1px 0;
	text-align: center;
}

.sanction_category_nm {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}

.sanction_category_divider {
	background-color: #aaa;
	height: 90px;
	margin: 5px 20px 5px 10px;
	width: 1px;
}

.unrequestable_cell {
	background: #FFC1B0 !important;
}

.borderBottomPanel {
	border-bottom: 1px solid #BEC3D1 !important;
}

.borderTopPanel {
	border-top: 1px solid #BEC3D1 !important;
}

/* put long text in single line to prevent being multiple line of label text */
.x-form-item-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* DB_TYPE */
.schema {
	background: url("../../images/tree/schema.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0001 {
	background: url("../../images/tree/db_type_0001.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0002 {
	background: url("../../images/tree/db_type_0002.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0003 {
	background: url("../../images/tree/db_type_0003.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0004 {
	background: url("../../images/tree/db_type_0004.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0005 {
	background: url("../../images/tree/db_type_0005.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0006 {
	background: url("../../images/tree/db_type_0006.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0007 {
	background: url("../../images/tree/db_type_0007.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0008 {
	background: url("../../images/tree/db_type_0008.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0009 {
	background: url("../../images/tree/db_type_0009.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0010 {
	background: url("../../images/tree/db_type_0010.png") no-repeat left center !important;
	white-space: normal;
}

.db_type_0011 {
	background: url("../../images/tree/db_type_0011.png") no-repeat left center !important;
	white-space: normal;
}

.data_loading {
	background: url("../../images/loading-image-small.gif") no-repeat left center !important;
	white-space: normal;
}

.completed-overlay {
	position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-moz-opacity: .6;
	-khtml-opacity: .6;
    filter: alpha(opacity=60);
}

.cancelled-text {
	color: gray;
	text-decoration: line-through;
}

.warning-text {
	color: orange;
	font-weight: bold;
}