/**
 * 대시보드 아이콘
 */
.dash-insert-column {
    background-image: url("../../images/icons/dashboard/insert-column.png") !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.dash-insert-row {
	background-image: url("../../images/icons/dashboard/insert-row.png") !important;
	background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.dash-row-splitter {
    background-image: url("../../images/icons/dashboard/splitter-horizontal.png") !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.dash-column-splitter {
    background-image: url("../../images/icons/dashboard/splitter.png") !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.dash-delete {
    background-image: url("../../images/icons/dashboard/delete.png") !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}