#loginBg {
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0; 
    position: fixed;
    z-index: 1;
    background: url(../images/login/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(./images/login/backgroundsize.min.htc);
}

.loginBg-ko {
    background: url(../images/login/bg-ko.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.loginBg-zh_CN {
    background: url(../images/login/bg-zh_CN.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.loginBg-en {
    background: url(../images/login/bg-en.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#loginDiv {
    width: 375px; /* 로그인폼 가로폭 */
    height: 277px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    -moz-box-shadow: 5px 5px 14px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 14px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 14px rgba(0,0,0,0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#000000');
}

#loginMask {
    background: #000000; /* 배경 마스킹 레이어 색상 */
    opacity: 0.8; 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
    position: fixed;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.loginTitle {
    background: #093C71 /* 로그인폼 상단 타이틀바 배경 색상 */ url(../images/login/icon_dataware.png) /* 로그인폼 상단 타이틀바 왼쪽 아이콘 */ no-repeat 10px center !important;
}

.loginTitleHeader {
    background: url(../images/login/login_title.png) /* 로그인폼 상단 타이틀바 텍스트 이미지 */ no-repeat center center !important;
}

.loginTitleErrorHeader {
    background: url(../images/login/login_title_error.png) /* 에러폼 상단 타이틀바 텍스트 이미지 */ no-repeat center center !important;
}

.loginBtn {
    background: #093C71 /* 로그인폼 로그인 버튼 배경 색상 */ url(../images/login/login_btn.png) no-repeat center center !important;
    width: 225px;
    height: 37px;
    cursor: pointer;
    margin: '0 0 25 0'
}

.closeBtn {
    background: #093c71 url(../images/login/close_btn.png) no-repeat center center !important;
    width: 225px;
    height: 37px;
    cursor: pointer;
    margin: '0 0 25 0'
}

.loginUserIcon {
    background: #093C71 /* 로그인폼 유저아이콘 배경 색상 */ url(../images/login/icon_user.png) no-repeat center center;
    width: 30px;
    height: 30px;
}

.loginPasswordIcon {
    background: #093C71 /* 로그인폼 비밀번호아이콘 배경 색상 */ url(../images/login/icon_password.png) no-repeat center center;
    width: 30px;
    height: 30px;
}

.loginInputField {
    color: #555;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', 'Tahoma' !important;
    line-height: 110%;
    padding: 2px 0 0 7px !important;
}

/* IE8 only */
@media \0screen {
    .loginInputField {
        padding-top: 9px !important;
    }
}

.loginLogoPanel {
    background: url(../images/login/dataware_logo.png) no-repeat center center;
    height: 27px;
}