@CHARSET "UTF-8";
#topmenu_container {
    background: url(../images/topmenu_bg_repeat.png) repeat-x;
    cursor: default;    
    height: 100px;
    min-width: 1024px;
    position: relative;
    user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    z-index: 0;
}

#topmenu_bg_left {
    background-image: url(../images/topmenu_bg.png);
    background-position: 0px 0px;
    height: 100px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 700px;
    z-index: 1;
}

#topmenu_bg_right {
    background-image: url(../images/topmenu_bg.png);
    background-position: -700px 0px;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 210px;
    z-index: 1;
}

#topmenu_ci_container {
    height: 51px;
    left: 15px;
    position: relative;
    top: 20px;
    width: 200px;
    z-index: 2;
}

#topmenu_ci_symbol {
    background-image: url(../images/topmenu_items_sprite.png);
    background-position: 0px -80px;    
    height: 55px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 51px;
}

#topmenu_ci_logo {
    background-image: url(../images/topmenu_items_sprite.png);
    background-position: -50px -83px;
    height: 55px;
    left: 50px;
    position: absolute;
    top: 0px;
    width: 140px;
}

#topmenu_items_container {
    cursor: pointer;
    left: 250px;
    height: 70px;
    top: 18px;
    position: absolute;
    z-index: 3;
    white-space: nowrap;
}

#topmenu_items_container .topmenu_item {
    display: inline-block; *display: inline; zoom: 1; /* IE7 hack for display: inline-block */
    height: 80px;
    margin: 0 auto 1px auto;
    position: relative;
    text-align: center;
    width: 80px;
}

#topmenu_items_container .topmenu_divider {
    background-image: url(../images/topmenu_items_sprite.png);
    background-position: -280px -80px;
    display: inline-block; *display: inline; zoom: 1; /* IE7 hack for display: inline-block */
    height: 24px;
    margin: 8px 1px 48px 1px;
    width: 2px;
}

#topmenu_items_container .topmenu_icon, .topmenu_icon_active {
    background-image: url(../images/topmenu_items_sprite.png);
    background-repeat: no;
    margin: 0 auto;
    height: 40px;
    width: 40px;
}

#topmenu_items_container .topmenu_text, .topmenu_text_active{
    color: #ccc;
    left: 0px;
    padding: 0 3px 0 3px;
    position: absolute;
    text-align: center;
    top: 41px;
    width: 100%;
}

#topmenu_items_container .topmenu_text_active {
    color: #fff;
}

.topmenu_item div.ko {
    font-size: 11px;
    line-height: 110%;
    white-space: normal;
    word-break: keep-all;
}

.topmenu_item div.en {
    font-size: 10px;
    line-height: 110%;
    white-space: normal;
    word-break: keep-all;
}

.topmenu_item div.zh_CN {
    font-size: 12px;
    line-height: 110%;
    white-space: normal;
    word-break: break-all;
}

#Meta_MBZ200000_topmenu .topmenu_icon { background-position: 0px 0px; }
#Meta_MBZ100000_topmenu .topmenu_icon { background-position: -40px 0px; }
#Meta_MBZ600000_topmenu .topmenu_icon { background-position: -80px 0px; }
#Meta_MBZ400000_topmenu .topmenu_icon { background-position: -120px 0px; }
#Meta_MBZ300000_topmenu .topmenu_icon { background-position: -160px 0px; }
#Meta_MBZ700000_topmenu .topmenu_icon { background-position: -200px 0px; }
#Meta_quality_menu_MBZ800000_topmenu .topmenu_icon { background-position: -240px 0px; }
#Meta_community_menu_Board_topmenu .topmenu_icon { background-position: -280px 0px; }
#Meta_MBZ500000_topmenu .topmenu_icon { background-position: -320px 0px; }
#Csr_topmenu            .topmenu_icon { background-position: -360px 0px; }
#Viewer_topmenu         .topmenu_icon { background-position: -400px 0px; }
#Indicator_topmenu      .topmenu_icon { background-position: -440px 0px; }

#Meta_MBZ200000_topmenu .topmenu_icon_active { background-position: 0px -40px; }
#Meta_MBZ100000_topmenu .topmenu_icon_active { background-position: -40px -40px; }
#Meta_MBZ600000_topmenu .topmenu_icon_active { background-position: -80px -40px; }
#Meta_MBZ400000_topmenu .topmenu_icon_active { background-position: -120px -40px; }
#Meta_MBZ300000_topmenu .topmenu_icon_active { background-position: -160px -40px; }
#Meta_MBZ700000_topmenu .topmenu_icon_active { background-position: -200px -40px; }
#Meta_quality_menu_MBZ800000_topmenu .topmenu_icon_active { background-position: -240px -40px; }
#Meta_community_menu_Board_topmenu .topmenu_icon_active { background-position: -280px -40px; }
#Meta_MBZ500000_topmenu .topmenu_icon_active { background-position: -320px -40px; }
#Csr_topmenu            .topmenu_icon_active { background-position: -360px -40px; }
#Viewer_topmenu         .topmenu_icon_active { background-position: -400px -40px; }
#Indicator_topmenu      .topmenu_icon_active { background-position: -440px -40px; }

#topmenu_userinfo_container {
    height: 40px;
    position: absolute;
    right: 5px;
    top: 18px;
    z-index: 2;
}

#topmenu_userinfo_bg_left {
    background-image: url(../images/topmenu_userinfo_bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: table-cell;
    height: 40px;
    min-width: 100px;
    overflow-x: visible;
    overflow-y: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
}

#topmenu_userinfo_bg_right {
    background-image: url(../images/topmenu_userinfo_bg.png);
    background-position: -245px 0px;
    background-repeat: no-repeat;
    display: table-cell;
    height: 40px;
    position: relative;
    width: 55px;
}

/* IE7 hack */
*+html #topmenu_userinfo_bg_left { 
    display: inline-block;
    *display: inline;
    zoom: 1;
}

*+html #topmenu_userinfo_bg_right { 
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#topmenu_userinfo_name {
    color: #ccc;
    margin: 13px 1px 0px 43px;
    white-space: nowrap;
}

#topmenu_userinfo_modify {
    background-image: url(../images/topmenu_items_sprite.png);
    background-position: -200px -80px;
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: 28px;
    top: 8px;
    width: 26px;
}

#topmenu_userinfo_modify.active {
    background-position: -200px -107px;
}

#topmenu_userinfo_logout {
    background-image: url(../images/topmenu_items_sprite.png);
    background-position: -240px -80px;
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: 2px;
    top: 8px;
    width: 26px;
}

#topmenu_userinfo_logout.active {
    background-position: -240px -107px;
}