/*
 * Board CSS
 * @author hdhong
 * @since 2013.3.28
 */
@CHARSET "UTF-8";

.board_header {
    border: 0px solid silver;
    width: 100%;
}

.board_list_title {
	font-size: 12px;
	font-style: normal;
}

.board_list_txt {
	font-size: 11px;
    font-style: normal;
}

.board_header_item_head {
    padding: 5px;
    text-align: right;
    width: 100px;
    background-color: #f0f0f0;
    border: 1px solid silver;
    border-width: 0 1px 1px 0;
}

.board_header_item_data {
    padding: 5px;
    text-align: left;
    background-color: #fff;
    border: 1px solid silver;
    border-width: 0 1px 1px 0;
}

.board_save {
	vertical-align: middle;
	cursor: pointer;
}

.board_file {
	vertical-align: bottom;
    cursor: pointer;
}

.board_body {
    background-color: #fff;
    margin: 1em;
}

.board_cited_body {
    margin: .5em 0 0 0;
    border-left: 1px solid silver;
    padding: .3em .5em .5em 1em;
}

.contents-bottom {
	background-image: url(../../images/icons/contents_bottom.png) !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.contents-hide {
    background-image: url(../../images/icons/contents_hide.png) !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.contents-right {
    background-image: url(../../images/icons/contents_right.png) !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}