@CHARSET "UTF-8";

.x-editable-column-header .x-column-header-inner {
	background-image: url(../../images/grid/editable.gif);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-size: 5px 5px;
}