@CHARSET "UTF-8";

.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap  !important; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    white-space: normal;
    width: 99%;
}

.ux-notification-icon-information {
    background-image: url('../../images/icons/notification/icon16_info.png');
}

.ux-notification-icon-error {
    background-image: url('../../images/icons/notification/icon16_error.png');
}

.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('../../images/icons/notification/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 20px 5px;
    background-color: transparent;
    border: 0px solid white;
}