@CHARSET "UTF-8";

.strengthmeter {
    background-image: url(../../images/password/meter.gif);
    background-size: 100%;
    width : 100%;
    float: right;
}
 
.scorebar {
    background-color : white;
    float: right;
    line-height : 6px;
    width : 100%;
}