@CHARSET "UTF-8";

.x-tree-checkbox-mixed-checked input.x-tree-checkbox {
	background-image:url(../../images/icons/tristatecheckbox.png) !important;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}