@CHARSET "UTF-8";

.x-tab-default-top-active {
	background-color: #FFFFFF;
	border-width: 1px 1px 0 1px !important;
	border-color: #BEC3D1 !important;
}

.x-tab-default-bottom-active {
    background-color: #FFFFFF;
    border-width: 0 1px 1px 1px !important;
    border-color: #BEC3D1 !important;
}