@CHARSET "UTF-8";

.x-tab-bar-default .x-tabbar-scroll-left {
	border-radius: 3px 0 0 0;
	background-color: #727D9B;
	background-position: center;
}

.x-tab-bar-default .x-tabbar-scroll-right {
	border-radius: 0 3px 0 0;
	background-color: #727D9B;
    background-position: center;
}