@CHARSET "UTF-8";
.x-btn-transparent {
	background: rgba(0, 0, 0, 0) !important;
	border-color: rgba(0, 0, 0, 0) !important;
	
	/* IE 8 Hack */
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
}